* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.container {
  max-width: 900px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
}
.container h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
  margin-bottom: 20px;
  font-size: 30px;
  color: palevioletred;
}
.container p {
  display: inline;
}
.form {
  padding: 10px;
  width: 80%;
  height: max-content;
}
.err,
.success {
  width: 200px;
  height: 100px;
  margin: 0 auto;
}
.btn {
  color: blue;
}
.span {
  color: black;
}
